#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




body{
  padding: 0;
  margin: 0;
  
}


table {
  text-align: center;

  padding: 0;
  margin: 0;
  width: 1280px;
}

table thead{
    font-size: large;
  border: 1px solid red;
  
}


table tr{
  margin-bottom: 10px;
  padding: 10px;

}


table tr {
  border: 3px solid white;
  padding: 10px;
  border-bottom: 10px;
}

.tittle{
  font-size: 40px;
  margin-bottom: 10px;
  
}

.divtittle{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center ;
  gap: 20px;
}

img{
  width: 50px;
  height: 50px;
  color: aliceblue;
  border-radius: 50%;
  
}


th, td {
  padding: 15px;
}


tbody tr:nth-child(odd) {
  background-color: #363a41;
  color: #fff;
}

.cancelled {
color:red;
font-weight: bold;
}


table thead tr th{
  border-bottom: 1px solid white;
}

.color {
  color: white;
}


.form-vuelo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}


.modal-content {
  background: whitesmoke;
}


.form-vuelo input{
  width: 100%;
  margin-top: 10px;
}

.form-vuelo label{
  display: inline-block;
  width: 100%;
  text-align: start;
  
}


  

/* @media (max-width: 1280px) {

  table thead {
      display: none;
  }

  table tr {
      display: flex;
      flex-direction: column;
      border: 3px solid white;
      padding: 1px;
  }


  table td[data-label] {
      display: flex;
      font-weight: bold;
  }

  table td[data-label]::before {
      content: attr(data-label);
      color: lightgrey;
      font-weight: 100;
      width: 50%;
  }


  

} */